.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot {
    color: #A3DC00;
}

section{
    display: inline-block;
}

.main-title {
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
}

.main-info {
    max-width: 583px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin-top: 10px;
    margin-left: 200px;
}

.main-btn {
    width: 152px;
    height: 64px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 200px;
    border: none;
}
